<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}




  
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-10 col-14 main_header_left  align-items-center">
                    <figure class="errimg">
                        <img src="images/img1.png" alt="nitisha" class="img-fluid" title="nitisha mehta"> 
                    </figure>
                
  
             
                  <p> WELCOME TO My error page </p>
                  <h1>{{errorMsg}}</h1>
                  
                  <a href="/" > <button> Go Back </button> </a>

                
                </div>
                </div>
              </div>
                </div>
                </div>
                </div>
               {{>footer}}
</body>
</html>