<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}




  
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right  align-items-center">
                    <figure>
                        <img src="images/img2.png" alt="nitisha" class="img-fluid" title="nitisha mehta"> 
                    </figure>
                </div>
  
                <div class="col-md-6 col-12 main_header_left">
                  <p> WELCOME TO THE WEATHER APP </p>
                  <h3>I Am A WORKING AS A TECHNICAL INTERN AT <span class="text-clr"> ARI SIMULATION</span> AND I LOVE TO PLAY WITH WATERCOLOURS </h3>
                  <a href="https://hamariweb.com/names/hindu/hindi/girl/nitisha-meaning_16718" target="_niti"><button> ABOUT ME </button> </a>

                
                
                </div>
              </div>
                </div>
                </div>
                </div>
               {{>footer}}
</body>
</html>